<div class="row">
    <div class="col-12">
        <form ng-submit="pctrl.dodajProfesora()" name="profesorForma">
            <div class="form-group">
                <label for="ime">ID:</label>
                <input type="text" name="indeks" id="indeks" class="form-control" ng-model="pctrl.noviProfesor.indeks" required>
            </div>
            <div class="form-group">
                <label for="prezime">Ime:</label>
                <input type="text" name="ime" id="ime" class="form-control" ng-model="pctrl.noviProfesor.ime" required>
            </div>
            <div class="form-group">
                <label for="korisnicko_ime">Prezime:</label>
                <input type="text" name="prezime" id="prezime" class="form-control" ng-model="pctrl.noviProfesor.prezime" required>
            </div>
            <div class="form-group">
                <label for="korisnicko_ime">Titula:</label>
                <input type="text" name="titula" id="titula" class="form-control" ng-model="pctrl.noviProfesor.titula" required>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj profesora" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>