<div class="row">
    <div class="col-12">
        <form ng-submit="pctrl.sacuvaj()" name="predmetForma">
            <div class="form-group">
                <label for="ime">ID:</label>
                <input type="text" name="id" id="id" class="form-control" ng-model="pctrl.noviPredmet.id" disabled>
            </div>
            <div class="form-group">
                <label for="prezime">Naziv:</label>
                <input type="text" name="naziv" id="naziv" class="form-control" ng-model="pctrl.noviPredmet.naziv" required>
            </div>
            <div class="form-group">
                <label for="korisnicko_ime">Skracenica:</label>
                <input type="text" name="prezime" id="prezime" class="form-control" ng-model="pctrl.noviPredmet.skracenica" required>
            </div>
            <div class="form-group">
                <label for="profesor_id">ID Profesora:</label>
                <input type="text" name="profesor_id" id="profesor_id" class="form-control" ng-model="pctrl.noviPredmet.profesor_id" required>
            </div>
            <div class="form-group">
                <input type="submit" value="Izmeni predmet" class="btn btn-primary">
            </div>
        </form>
    </div>
</div>


